
body {
  overflow-y: hidden;
  overflow-x: hidden;
}

.root {
  height: 100vh;
  padding: 1%;
  padding-bottom: 0.5%;
  padding-top: 0.5%;
}

.map-chart > * {
  position: absolute;
  
}

.map-chart, .loading-screen{
  height: 100%;
}

.loading-screen {
  background-color: #4682B4;
}
