
body {
  overflow-y: hidden;
  overflow-x: hidden;
}

.root {
  height: 100vh;
}

.map-chart > * {
  position: absolute;
  cursor: default;
}

.map-chart, .loading-screen{
  height: 100%;
}

.loading-screen {
  background-color: #4682B4;
}

.center {
  flex:2;
  padding: 0.5%;
}
